.top-head-jsfd{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .sub-top-head-jsfd{
    margin-left: 20px;
    margin-bottom: 20px;
  }


.logos-jsfd{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    font-size: 120px;
    width:100%;
    margin-bottom: 50px;
    color: black;
  }
  .logo-inner-jsfd{
    border:2px solid gray;
    border-radius: 20px;
    
  }
  .logo-inner-jsfd ion-icon {
    margin-left: 30px;
    margin-right: 30px;
    height: 100px;
    width: 100px;
    
  }
  .logo-inner-jsfd svg {
    height: 100px;
    width: 100px;
    /* margin-left: 30px;
    margin-right: 30px; */
  }
  .logo-inner-jsfd p{
    font-size: 1.5rem;
    text-align: center;
  }
  .linkWithoutUnderline-jsfd {
    text-decoration: none;
    /* color: wheat; */
    color: black;
  }
  .animation-jsfd{
    color:rgb(53, 28, 117);
    margin-top:100px;
    margin-right:30px;
    margin-left: 30px;
    margin-bottom:100px;
  }