.container-index {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, rgb(24, 49, 83), rgb(0, 0, 0));
    overflow: hidden;
}

.first-section-index {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: 200px; */
}

.first-top-index {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 550px;
    border-radius: 30px;
   
    color: wheat;
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.5),
        /* White shadow */
        0 0 20px rgba(255, 255, 255, 0.5),
        /* White shadow */
        0 0 40px rgba(255, 255, 255, 0.5);
    /* White shadow */
}
.first-bottom-index{
    border-radius: 20px;
    height: 50vh;
    margin-top: 10vh;
}
@media (orientation : portrait ){
    .first-section-index {
        display: flex;
        flex-direction: column;
        height: 150vh;
        
    }
    .first-top-index{
        width: 80%;
        margin:auto;
        margin-top: 30px;
    }
    .first-bottom-index{
        border-radius: 20px;
        height: 50vh;
        margin-top: 10vh;
    }
}
#developer{
    font-size: 40px;
}
.breakrow{
    display: none;
}
@media (orientation : portrait ){
    .breakrow{
        display: block;
    }
}


#text-typing{
    color: wheat;
    margin-left: 60px;
    margin-right: 60px;
    height: 150px;
}

@media (orientation : portrait ){
    #text-typing{
        color: wheat;
        margin-left: 60px;
        margin-right: 30px;
        height: 200px;
    }
}


.profile_section{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 100px;
}

.profile-text{
    color: wheat;
    margin-left: 60px;
    margin-right: 60px;
    height: 200px;
    width: 400px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.profile_section img{
    height: 200px;
    width: 300px;
    margin-top: 80px;
    border-radius: 60px;
}
@media (orientation : portrait ){
  .profile_section{
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  .profile_section img{
    height: 10px;
    width: 10px;
    
    }
    .profile-text{
        color: wheat;
        height: 200px;
        width: 400px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

}



.black-ops-one-regular {
    font-family: "Black Ops One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 2.5rem;
}

.uniquifier {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.animate {
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Alternate up and down animation for odd and even letters */
.letter:nth-child(odd) {
    animation-name: moveUp;
}

.letter:nth-child(even) {
    animation-name: moveDown;
}

.scroll-to-bottom {
    scroll-behavior: smooth;
}

.linkWithoutUnderline-index {
    text-decoration: none;
    color: wheat;
}





.second-section-index{
    
    padding: 20px;
    color: wheat;
    
}
@media(orientation : portrait){
    .second-section-index{
        margin-top: 50vh;
        padding: 20px;
        color: wheat;
        height: 100vh;
        margin-bottom: 25vh;
    }
}
.main-page-index{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px;
}


@media(orientation : portrait){
    .main-page-index{
        display: flex;
        flex-direction: column;
        height: 95vh;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        
    
    }
}


.row-index {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  
  .col-index {
    flex: 1;
    text-align: center;
    margin-top: 50px;
  }
#center-text{
    font-size: 3.5rem;
    color:#76ABAE;
}


@media(orientation : portrait){
    #center-text, .h1{
        font-size: 2.25rem;
    }
    #tag-id{
        font-size:18px;
        }
    #tag-id1{
        margin-top: 20px;
        font-size:18px;
    }
    #tag-id3{
        margin-top: 20px;
        font-size:18px;
    }
}








 /* Footer.css */
 .footer {
    background-color: rgba(255, 240, 245, 0.598);
    /* background-color: #27282c; */
    color: black;
    padding: 30px 0;
    margin-top: 100px;
    
}
.footer-inside{
    display: flex;
    flex-direction: row;
    width: 100vw;
    
}
@media(orientation : portrait){
    .footer-inside{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
}

.footer-left{
    width: 60%;
}
.footer-right{
    width: 30%;
}

@media(orientation : portrait){
    .footer-left{
        width: 90%;
    }
}
.footer-right ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.footer h5 {
    color: black;
    font-size: 20px;
}

.footer p {
    font-size: 16px;
    /* line-height: 5px; */
}

.footer .contact-list {
    list-style: none;
    padding-left: 0;
}

.footer .contact-list li {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer .contact-list li:before {
    content: "\2022";
    color: #fff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}



/* first-top */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .blink-animation {
    animation: blink 1s infinite; /* Adjust duration of blinking animation as needed */
  }





  .e-card {
    margin: 100px auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 240px;
    height: 330px;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
  }
  
  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }
  
  .infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  
  .name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  
  .wave:nth-child(3) {
    animation-duration: 45s;
  }

.card-1{
    display: flex;
    justify-content: space-evenly;
}
.card-2{
    display: flex;
    justify-content: space-evenly;
    
}
.card-3{
    display: flex;
    justify-content: space-evenly;
}


@media(orientation:portrait){

}








  

  
  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  

  @keyframes shimmer {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
                     0 0 20px rgba(255, 255, 255, 0.5),
                     0 0 30px rgba(255, 255, 255, 0.5);
        opacity: 0.7;
    }
    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
                     0 0 40px rgba(255, 255, 255, 0.8),
                     0 0 60px rgba(255, 255, 255, 0.8);
        opacity: 1;
    }
    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
                     0 0 20px rgba(255, 255, 255, 0.5),
                     0 0 30px rgba(255, 255, 255, 0.5);
        opacity: 0.7;
    }
  }
  
  .shimmer-text {
    animation: shimmer 3s infinite;
  }
  
  
  
  @keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
  }
  
  @keyframes moveDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
  }




.third-section{
  background-color: grey;
}
.third-main{
  text-align: center;
}
.third-cards{
  display: flex;
  flex-direction: row;
  
}







/* 

  .parent {
  width: 290px;
  height: 300px;
  perspective: 1000px;
}

.card {
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(0, 255, 214) 0%, rgb(8, 226, 96) 100%);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
}

.glass {
  transform-style: preserve-3d;
  position: absolute;
  inset: 8px;
  border-radius: 55px;
  border-top-right-radius: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.349) 0%, rgba(255, 255, 255, 0.815) 100%);
   -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); 
  transform: translate3d(0px, 0px, 25px);
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transition: all 0.5s ease-in-out;
}

.content {
  padding: 100px 60px 0px 30px;
  transform: translate3d(0, 0, 26px);
}

.content .title {
  display: block;
  color: #00894d;
  font-weight: 900;
  font-size: 20px;
}

.content .text {
  display: block;
  color: rgba(0, 137, 78, 0.7647058824);
  font-size: 15px;
  margin-top: 20px;
}

.bottom {
  padding: 10px 12px;
  transform-style: preserve-3d;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate3d(0, 0, 26px);
}

.bottom .view-more {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: flex-end;
  transition: all 0.2s ease-in-out;
}

.bottom .view-more:hover {
  transform: translate3d(0, 0, 10px);
}

.bottom .view-more .view-more-button {
  background: none;
  border: none;
  color: #00c37b;
  font-weight: bolder;
  font-size: 12px;
}

.bottom .view-more .svg {
  fill: none;
  stroke: #00c37b;
  stroke-width: 3px;
  max-height: 15px;
}

.bottom .social-buttons-container {
  display: flex;
  gap: 100px;
  transform-style: preserve-3d;
}

.bottom .social-buttons-container .social-button {
  width: 30px;
  aspect-ratio: 1;
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  box-shadow: rgba(5, 71, 17, 0.5) 0px 7px 5px -5px;
}

.bottom .social-buttons-container .social-button:first-child {
  transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
}

.bottom .social-buttons-container .social-button:nth-child(2) {
  transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
}

.bottom .social-buttons-container .social-button:nth-child(3) {
  transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
}

.bottom .social-buttons-container .social-button .svg {
  width: 15px;
  fill: #00894d;
}

.bottom .social-buttons-container .social-button:hover {
  background: black;
}

.bottom .social-buttons-container .social-button:hover .svg {
  fill: white;
}

.bottom .social-buttons-container .social-button:active {
  background: rgb(255, 234, 0);
}

.bottom .social-buttons-container .social-button:active .svg {
  fill: black;
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
  transform-style: preserve-3d;
}

.logo .circle {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 249, 203, 0.2);
  transition: all 0.5s ease-in-out;
}

.logo .circle1 {
  width: 170px;
  transform: translate3d(0, 0, 20px);
  top: 8px;
  right: 8px;
}

.logo .circle2 {
  width: 140px;
  transform: translate3d(0, 0, 40px);
  top: 10px;
  right: 10px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transition-delay: 0.4s;
}

.logo .circle3 {
  width: 110px;
  transform: translate3d(0, 0, 60px);
  top: 17px;
  right: 17px;
  transition-delay: 0.8s;
}

.logo .circle4 {
  width: 80px;
  transform: translate3d(0, 0, 80px);
  top: 23px;
  right: 23px;
  transition-delay: 1.2s;
}

.logo .circle5 {
  width: 50px;
  transform: translate3d(0, 0, 100px);
  top: 30px;
  right: 30px;
  display: grid;
  place-content: center;
  transition-delay: 1.6s;
}

.logo .circle5 .svg {
  width: 20px;
  fill: white;
}

.parent:hover .card {
  transform: rotate3d(1, 1, 0, 30deg);
  box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
}

.parent:hover .card .bottom .social-buttons-container .social-button {
  transform: translate3d(0, 0, 50px);
  box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
}

.parent:hover .card .logo .circle2 {
  transform: translate3d(0, 0, 60px);
}

.parent:hover .card .logo .circle3 {
  transform: translate3d(0, 0, 80px);
}

.parent:hover .card .logo .circle4 {
  transform: translate3d(0, 0, 100px);
}

.parent:hover .card .logo .circle5 {
  transform: translate3d(0, 0, 120px);
} */

