


/* index.css */
.navbar {
  /* background: linear-gradient(to right, #4caf50, #2196f3);  */
  background: linear-gradient(to left, rgb(24, 49, 83), rgb(0, 0, 0));
  /* height: 80px; */
  
  
}

#basic-nav-dropdown {
  font-size: 14px; /* Adjust font size as needed */
  color: white;
  
}









