


/* index.css */
.navbar {
  background: linear-gradient(to right, #4caf50, #2196f3); 
  
  
}

#basic-nav-dropdown {
  font-size: 14px; /* Adjust font size as needed */
  color: white;
  
}









