.container-mern {
    /* background: linear-gradient(to top, #7c7979 , #1e2d4a); */
    /* background: linear-gradient(to top, #8CC6DB, #0F3057);
    background: linear-gradient(to top, #E6E6FA, #3d274e);
    background: linear-gradient(to top, #134052 , #17172a);
    background: linear-gradient(to top, #6a2424, #7e1f00);
    background: linear-gradient(to top, #5c6977 , #2F4F4F);
    /* background: linear-gradient(to left, #4B0082, #009486); */
    background: linear-gradient(to top, #386f76 , #4a3f90); 
  
  
    color: antiquewhite;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    overflow-x: hidden;
    
  }
  .second-top-mern1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
  }
  .second-top-mern2 h1, .second-top-mern2 button{
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .first-section-mern{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  
  .first-top-mern{
    text-align: center;
    justify-content: center;
  }
  
  .second-section-mern{
    height: 100vh;
    margin-bottom: 150px;
  }
  
  .second-mern{
    display: flex;
    flex-direction: row;
    margin-left:30px;
    margin-right:30px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  
  .second-left-mern{
    height: 90vh;
    width:30vw;
    border: 2px solid gray;
    border-radius: 20px;
  
  }
  
  .second-right-mern{
    height: 90vh;
    width:60vw;
    border: 2px solid gray;
    border-radius: 20px;
    margin-left: 30px;  
    overflow: auto; 
  }
  .second-left-mern h3{
    margin-left: 20px;
    margin-top: 30px;
    cursor: pointer;
  }
  .second-left-mern h2 {
    margin-left: 20px;
    margin-top:60px ;
  }
  
  .top-head-mern{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .sub-top-head-mern{
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .logos-mern{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    font-size: 120px;
    width:100%;
    margin-bottom: 50px;
  }
  .logo-inner-mern{
    border:2px solid gray;
    border-radius: 20px;
    
  }
  .logo-inner-mern ion-icon {
    margin-left: 30px;
    margin-right: 30px;
    height: 100px;
    width: 100px;
    
  }
  .logo-inner-mern svg {
    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .logo-inner-mern p{
    font-size: 1.5rem;
    text-align: center;
  }
  .animation-mern{
    color:rgb(53, 28, 117);
    margin-top:100px;
    margin-right:30px;
    margin-left: 30px;
    margin-bottom:100px;
  }
   
  /* .backend-sublogos{
    display: flex;
    flex-direction: column;
    font-size: 120px;
  } */
  
  .linkWithoutUnderline-mern {
    text-decoration: none;
    color: wheat;
  }
  
  .ojuju-headline-mern {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    animation-duration: 1s;
    font-size: 3rem;
  }
  
  .scroll-to-bottom-mern {
    scroll-behavior: smooth;
    color: black;
    margin-top: 100px;
  }
  
  .btn-secondary {
    background-color: #6c757d; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-top:10px ;
  }
  
  .btn-secondary-mern:hover {
    background-color: #495057; 
  }
  
  .bottom-mern{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
  }
  
  
  
  
  @keyframes zoomInDown {
    from {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
      animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
  } 
  
  
  
  
  
  
  
  
  
  @media(Orientation:portrait){
  
    .container-mern {
      font-size: 0.3rem;
    }
    .second-top-mern1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 50px;
    }
    .second-top-mern2 h1 {
      margin-top: 10px;
      font-size: 1.3rem;
    }
    .second-mern{
      display: flex;
      flex-direction: column;
      margin-left:30px;
      margin-right:30px;
      justify-content: center;
      align-items: center;
      margin-top: 0;
    }
    .second-section-mern{
      height: 50vh;
      margin-bottom: 700px;
    }
    .second-left-mern{
      height: 100px;
      display: flex;
      flex-direction: column;
      width:90vw;
      border: 2px solid gray;
      border-radius: 20px;
      margin-bottom: 20px;
      
    }
    .second-left-inner-mern{
      display: flex;
      flex-direction: row;
    }
    .second-left-mern h3 {
      font-size: 0.6rem;
      margin-right: 0;
    }
    .second-left-mern h2 {
      font-size: 0.7rem;
      margin-left: 20px;
      width: 100px;
      margin-top:10px ;
    }
    .second-right-mern{
      /* height: 50vh; */
      width:90vw;
      border: 2px solid gray;
      border-radius: 20px;
      margin-left: 10px; 
      overflow: auto; 
      margin-top: 0;
    }
    .second-right-mern h2,.first-PL-mern h1 {
      font-size: 0.7rem;
    }
    .logos{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap:wrap;
      font-size: 20px;
      width:100%;
    }
    .logo-inner-mern p{
      font-size: 1.25rem;
      text-align: center;
    }
    .logo-inner-mern ion-icon {
      font-size: 60px;
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .top-head-mern{
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
      font-size: 0.8rem;
    }
    .logo-inner-mern svg {
     
      margin-left: 30px;
      margin-right: 30px;
      font-size: 60px;
    }
    .animation-mern {
      color:rgb(53, 28, 117);
      margin-right:30px;
      margin-left: 30px;
  
    }
  
  
  }
  
  
  
  .tracking-in-contract-bck {
      -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
              animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }