
.container-jsfd {
  background-color: #D8D9DA;
  font-size: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  overflow-x: hidden;
 
}

.top-main-jsfd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', sans-serif;
  --font-sans: 'Comfortaa';
  background-color: #4C51BF;
  color: white;
  height: 50vh;
}
.top-main-jsfd p{
  width: 35%;
  text-align: center;
}

.middle-main-jsfd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa', sans-serif;
  --font-sans: 'Comfortaa';
  background-color: #D8D9DA;
  color: rgb(44 82 130);
  height: 50vh;
}

.middle-bottom-jsfd{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(44 82 130);
}
.middle-main-jsfd p{
  color: rgb(107 114 128);
}
.inner-middle-jsfd{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.inner-middle-jsfd p{
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(107 114 128);
  height: 100px;
  width: 300px;

}

.icon-style-jsfd{
  height: 50px;
  width: 50px;
}




.second-top-jsfd1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}
.second-top-jsfd2 h1, .second-top-jsfd2 button{
  font-size: 2rem;
  margin-bottom: 10px;
}

.first-section-jsfd{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.first-top-jsfd{
  text-align: center;
  justify-content: center;
}

.second-section-jsfd{
  height: 100vh;
  margin-bottom: 150px;
}

.second-jsfd{
  display: flex;
  flex-direction: row;
  margin-left:30px;
  margin-right:30px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.second-left-jsfd{
  height: 90vh;
  width:30vw;
  border: 2px solid gray;
  border-radius: 20px;
  /* background: linear-gradient(to left, rgb(24, 49, 83), rgb(0, 0, 0)); */
  background-color: #4C51BF;
  color: antiquewhite;
}

.second-right-jsfd{
  height: 90vh;
  width:60vw;
  border: 2px solid gray;
  border-radius: 20px;
  margin-left: 30px;  
  overflow: auto; 
  color: black;
  background-color: #D8D9DA;
}
.second-left-jsfd h3{
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
}
.second-left-jsfd h2 {
  margin-left: 20px;
  margin-top:60px ;
}

.top-head-jsfd{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}
.sub-top-head-jsfd{
  margin-left: 20px;
  margin-bottom: 20px;
}
.logos-jsfd{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap:wrap;
  font-size: 120px;
  width:100%;
  margin-bottom: 50px;
  color: black;
}
.logo-inner-jsfd{
  border:2px solid gray;
  border-radius: 20px;
  margin-bottom: 30px;
  
}
.logo-inner-jsfd ion-icon {
  margin-left: 30px;
  margin-right: 30px;
  height: 100px;
  width: 100px;
  
}
.logo-inner-jsfd svg {
  height: 100px;
  width: 100px;
  align-items: center;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}
.logo-inner-jsfd p{
  font-size: 1.5rem;
  text-align: center;
}
.animation-jsfd{
  color:rgb(53, 28, 117);
  margin-top:100px;
  margin-right:30px;
  margin-left: 30px;
  margin-bottom:100px;
}
 


.linkWithoutUnderline-jsfd {
  text-decoration: none;
  color: black;
}

.ojuju-headline-jsfd {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  animation-duration: 1s;
  font-size: 3rem;
}

.scroll-to-bottom-jsfd {
  scroll-behavior: smooth;
  color: black;
  margin-top: 100px;
}

.btn-secondary {
  background-color: #6c757d; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-top:10px ;
}
#btn-style{
  margin-bottom: 10px;
}

.btn-secondary-jsfd:hover {
  background-color: #495057; 
}

.bottom-jsfd{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
}




@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
} 









@media(Orientation:portrait){

  .container-jsfd {
    font-size: 0.3rem;
  }


  .top-main-jsfd h1{
    text-align: center;
  }
  .top-main-jsfd p{
    width: 70%;
    font-size: 14px;
    text-align: center;
  }
  
  .middle-main-jsfd{
    font-size: 14px;
    text-align: center;

  }
  .inner-middle-jsfd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .inner-middle-jsfd p{
    font-size: 14px;
  }
  



  .second-top-jsfd1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
  }
  .second-top-jsfd2 h1 {
    margin-top: 10px;
    font-size: 1.3rem;
  }
  .second-jsfd{
    display: flex;
    flex-direction: column;
    margin-left:30px;
    margin-right:30px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .second-section-jsfd{
    height: 50vh;
    margin-bottom: 700px;
  }
  .second-left-jsfd{
    height: 100px;
    display: flex;
    flex-direction: column;
    width:90vw;
    border: 2px solid gray;
    border-radius: 20px;
    margin-bottom: 20px;
    
  }
  .second-left-inner-jsfd{
    display: flex;
    flex-direction: row;
  }
  .second-left-jsfd h3 {
    font-size: 0.6rem;
    margin-right: 0;
  }
  .second-left-jsfd h2 {
    font-size: 0.7rem;
    margin-left: 20px;
    width: 100px;
    margin-top:10px ;
  }
  .second-right-jsfd{
    
    width:90vw;
    border: 2px solid gray;
    border-radius: 20px;
    margin-left: 10px; 
    overflow: auto; 
    margin-top: 0;
  }
  .second-right-jsfd h2,.first-PL-jsfd h1 {
    font-size: 0.7rem;
  }
  .logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
    font-size: 20px;
    width:100%;
  }
  .logo-inner-jsfd p{
    font-size: 1.25rem;
    text-align: center;
  }
  .logo-inner-jsfd ion-icon {
    font-size: 60px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .top-head-jsfd{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 0.8rem;
  }
  .logo-inner-jsfd svg {
   
    margin-left: 30px;
    margin-right: 30px;
    font-size: 60px;
  }
  .animation-jsfd {
    color:rgb(53, 28, 117);
    margin-right:30px;
    margin-left: 30px;

  }
  .bottom-jsfd{
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 60px;
    
  }


}



.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


