/* index.css */
body {
    font-family: var(--font-archivo), sans-serif !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-cormorant_garamond), serif !important;
  }


  .container-index {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, rgb(24, 49, 83), rgb(0, 0, 0));
    overflow: hidden;
}

.first-section-index {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* width: 200px; */
}

.first-top-index {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 550px;
    border-radius: 30px;
   
    /* color: wheat; */
    color: white;
    box-shadow:
        0 0 10px rgba(255, 255, 255, 0.5),
        /* White shadow */
        0 0 20px rgba(255, 255, 255, 0.5),
        /* White shadow */
        0 0 40px rgba(255, 255, 255, 0.5);
    /* White shadow */
}
.first-bottom-index{
    border-radius: 20px;
    /* height: 50vh; */
    margin-top: 10vh;
}
@media (orientation : portrait ){
    .first-section-index {
        display: flex;
        flex-direction: column;
        height: 150vh;
        
    }
    .first-top-index{
        width: 80%;
        margin:auto;
        margin-top: 30px;
    }
    .first-bottom-index{
        border-radius: 20px;
        height: 50vh;
        margin-top: 10vh;
        /* width: 80%;
        height: 40vh; */
    }
}
#developer{
    font-size: 40px;
}
.breakrow{
    display: none;
}
@media (orientation : portrait ){
    .breakrow{
        display: block;
    }
}


#text-typing{
    color:white;
    /* text-align: center; */
    margin-left: 60px;
    margin-right: 60px; 
     height: 150px;
}

@media (orientation : portrait ){
    #text-typing{
        color: white;
        text-align: center;
        width: 70%;
        height: none;
    }
}


.profile_section{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 100px;
}

.profile-text{
    /* color: wheat; */
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    height: 200px;
    width: 400px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.profile_section img{
    height: 200px;
    width: 300px;
    margin-top: 80px;
    border-radius: 60px;
}
@media (orientation : portrait ){
  .profile_section{
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }
  .profile_section img{
    height: 10px;
    width: 10px;
    
    }
    .profile-text{
        /* color: wheat; */
        color: white;
        height: 200px;
        width: 400px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

}



.black-ops-one-regular {
    font-family: "Black Ops One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 2.5rem;
}

.uniquifier {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.animate {
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Alternate up and down animation for odd and even letters */
.letter:nth-child(odd) {
    animation-name: moveUp;
}

.letter:nth-child(even) {
    animation-name: moveDown;
}

.scroll-to-bottom {
    scroll-behavior: smooth;
}

.linkWithoutUnderline-index {
    text-decoration: none;
    color: wheat;
}


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .blink-animation {
    animation: blink 1s infinite; /* Adjust duration of blinking animation as needed */
  }


  @keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
  }
  
  @keyframes moveDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
  }

  
  .index-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, rgb(24, 49, 83), rgb(0, 0, 0));
    overflow: hidden;
    color: whitesmoke;
  }
  
  .section {
    background: linear-gradient(to left, rgb(24, 49, 83), rgb(0, 0, 0));
  }
  .main-text{
    font-size: 4rem;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .left, .right ,.left-main , .righ-main {
    width: 50%;
    margin: 150px 30px;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
  }
  #main-img{
    height: 450px;
    width: 450px;
  }
  img {
    height: 250px;
    width: 250px;
    border-radius: 20px;
  }
  .right svg {
    height: 250px;
    width: 250px;
  }
  
  .btn {
    color: whitesmoke;
  }



@media(Orientation:portrait){
    .main-text{
        font-size: 2rem;
        margin-top: none;
      }
      
      .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
      }
      #column-reverse{
        display: flex;
        flex-direction: column-reverse;
      }
      .left-main , .righ-main{
        width: 80%;
        margin-bottom: 0 !important;
      }
     
      .left, .right {
        width: 80%;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        text-align: center;
      }
      .section{
        margin-bottom: 150px;
      }
      #main-img{
        height: 300px;
        width: 300px;
      }
      
      img {
        height: 100px;
        width: 100px;
        
      }
      .right svg {
        height: 150px;
        width: 150px;
      }
      .main h1{
        margin-top: 25px;
      }
    
}

  
  